@media screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1200px;
    }

    #menuButton {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 0;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }

    header h1 {
        margin: 0;
    }

    figure img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
    }

    figure {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    figcaption {
        flex-grow: 1;
    }

}